*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mate SC', serif;
    font-family: 'Exo 2', sans-serif;
}

html, body {
    width: 100%;
}

/**Divs Gerais**/
.container{
    width: 100%;
    margin: auto;
    max-width: 1400px;
}

.clear{
    clear: both;
}
/*****/


/* INICIO DO HEADER */

header .logo{
    width: 170px;
    height: 65px;
    margin-left: 2%;
    margin: 5px;
    margin-left: 50px;    
}

header .logo img{
    width: 120px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    position: relative;
    left: 5px;
    top: -30px;
}

header .logo h2{
    font-family: 'Herr Von Muellerhoff', cursive;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
}

header .logo p{
    font-family: 'Herr Von Muellerhoff', cursive;
    text-align: center;
    font-size: 20px;
    position: relative;
    top: -15px;
}

header .container{
    z-index: 10;
    display: flex;
    max-height: 80px;
    justify-content: space-between;
    background-color: rgb(153, 201, 202);
}

/* MENU MOBILE */


nav.mobile-menu{
	cursor: pointer;
	display: none;
	width: 40px;
	height: 40px;
    margin-top: 10px;
    margin-right: 20px;
	background-image: url('../imagens/menu1.png');
	background-size: 100% 100%;
}

nav.mobile-menu ul{
	display: none;
	background-color: white;
	position: absolute;
	width: 100%;
	left: 0;
	top: 75px;
	list-style-type: none;
	text-align: center;
    z-index: 99;
}

nav.mobile-menu ul li{
	padding:8px 0;
	transition: 0.4s;
	border-bottom: 1px solid black;
}

nav.mobile-menu ul li:hover{
	background-color: rgb(230,230,230);
}

nav.mobile-menu ul li a{
	color: black;
	text-decoration: none;
}

/* MENU DESKTOP */
header nav.menu-desktop ul{
    display: flex;
    padding: 20px;
    margin-left: -2%;
    margin-right: 20px;
}

header nav.menu-desktop ul li{
    list-style: none;
}

header nav.menu-desktop ul li a{
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
    cursor: pointer;
    color: black;
}
/** FIM HEADER **/


/** INICIO DO BANNER **/

section .foto{
    width: 100%;
    height: 600px;
    background-image: url('../imagens/futebol/Foto-22-copia.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section .foto .texto-banner{
    width: 340px;
    height: 110px;
    border: 1px solid black;
    position: relative;
    top: 18%;
    left: 5%;
    padding: 10px;
    background-color: rgba(211, 202, 202, 0.363);
}

section .foto .texto-banner h1{
    font-family: 'Exo', sans-serif;
    font-size: 30px;
}

section .foto .texto-banner p{
    font-family: 'Exo', sans-serif;
    font-size: 17px;
    text-align: left;
}

/******/

/** TABELA**/
/* Base da tabela */
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: arial;
  }

  .table {
    border-bottom: #d0d5d8 solid 1px;
    width: 100%;
    margin-bottom: 20px;
  }

  .table th,
  .table td {
    border-right: #d0d5d8 solid 1px;
    padding: 20px 30px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
  }

  .table td:last-child {
     border-right: 0;
  }

.table tbody td{
    font-size: 16px;
    text-align: center;
  }
  .table thead th {
    font-weight: normal;
    background-color: #3498db;
    color: #fff;
    font-size: 22px;
    text-align: left;
  }

  .table tbody > tr:nth-child(odd) > td,
  .table tbody > tr:nth-child(odd) > th {
    background-color: #f8f8f8;
  }

/* Tornando a tabela responsiva*/

/* para resoluções de até 767px */
@media (max-width: 767px) { 
  
  /* Tabela responsiva */
  .table-responsive {
    display: block;
    position: relative;
    width: 100%;
  }

/*  Tabela funcionando como um bloco  */
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: block;
  }
/* Defino um tamanho para as células */
  .table-responsive td,
  .table-responsive th {
    height: 30px;
  }
  .table thead th {
     font-size: 16px;
  }
  .table th,
  .table td {
    font-size: 12px;
    padding: 8px;
  }
/* thead é “flotado” esquerda para auxiliar na responsividade */
  .table-responsive thead {
    float: left;
  }

  .table-responsive tbody {
    width: auto;
    position: relative;
   
    overflow-x: auto;  /* scroll horizontal */
    -webkit-overflow-scrolling: touch; /* Funcionamento para dispositivos touch */
    white-space: nowrap;
  }
/*  Posicionando linhas lado-a-lado  */
  .table-responsive tbody tr {
    display: inline-block;
  }

  .table td:last-child {
     border-right: #d0d5d8 solid 1px;
  }

}

/******/




@media screen and (max-width: 768px) {
    header nav.menu-desktop{
        display: none;
    }

    header nav.mobile-menu{
       display: flex;
    }
}